.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.modal-content {
  overflow: hidden;
  text-align: center;
  transition: 1s;
  font-family: sans-serif;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 1rem;
  border: 1px solid #888;
  width: 20%;
}

.modal-contentClose {
  overflow: hidden;
  transition: 1s;
  font-family: sans-serif;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 0%;
}

.close {
  position: absolute;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: 20%;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
